@using xDC.Utils
@helper WorkflowStepper(string formStatus)
{
    if (formStatus == "Draft")
    {
        <div class="stepper-wrapper">
            <div class="stepper-item active">
                <div class="step-counter">1</div>
                <div class="step-name">Draft</div>
            </div>
            <div class="stepper-item">
                <div class="step-counter">2</div>
                <div class="step-name">Pending Approval</div>
            </div>
            <div class="stepper-item">
                <div class="step-counter">3</div>
                <div class="step-name">Done</div>
            </div>
        </div>
    }

    if (formStatus == "Pending Approval")
    {
        <div class="stepper-wrapper">
            <div class="stepper-item completed">
                <div class="step-counter">1</div>
                <div class="step-name">Draft</div>
            </div>
            <div class="stepper-item active">
                <div class="step-counter">2</div>
                <div class="step-name">Pending Approval</div>
            </div>
            <div class="stepper-item">
                <div class="step-counter">3</div>
                <div class="step-name">Done</div>
            </div>
        </div>
    }

    if (formStatus == "Approved")
    {
        <div class="stepper-wrapper">
            <div class="stepper-item completed">
                <div class="step-counter">1</div>
                <div class="step-name">Draft</div>
            </div>
            <div class="stepper-item completed">
                <div class="step-counter">2</div>
                <div class="step-name">Pending Approval</div>
            </div>
            <div class="stepper-item completed">
                <div class="step-counter">3</div>
                <div class="step-name">Approved</div>
            </div>
        </div>
    }

    if (formStatus == "Rejected")
    {
        <div class="stepper-wrapper">
            <div class="stepper-item completed">
                <div class="step-counter">1</div>
                <div class="step-name">Draft</div>
            </div>
            <div class="stepper-item completed">
                <div class="step-counter">2</div>
                <div class="step-name">Pending Approval</div>
            </div>
            <div class="stepper-item completed">
                <div class="step-counter">3</div>
                <div class="step-name">Rejected</div>
            </div>
        </div>
    }
}

@helper LoggedInUser()
{
    var username = HttpContext.Current.User.Identity.Name;
    var role = "Anonymous";

    if (HttpContext.Current.User.IsInRole(Config.Acl.Administrator))
    {
        role = Config.Acl.Administrator;
    }
    else if (HttpContext.Current.User.IsInRole(Config.Acl.PowerUser))
    {
        role = Config.Acl.PowerUser;
    }
    else if (HttpContext.Current.User.IsInRole(Config.Acl.Amsd))
    {
        role = Config.Acl.Amsd;
    }
    else if (HttpContext.Current.User.IsInRole(Config.Acl.Fid))
    {
        role = Config.Acl.Fid;
    }
    else if (HttpContext.Current.User.IsInRole(Config.Acl.Issd))
    {
        role = Config.Acl.Issd;
    }
    else
    {
        role = "Error";
    }

    <p class='dropdown-header-title'>@username</p> <p class='dropdown-header-subtitle'>@role</p>
}
