<div id="rejectionNoteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="rejectionNoteModalContainer">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Reject Submission</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Rejection Notes (optional) :</p>
                        @(Html.DevExtreme().TextArea()
                            .ID("rejectionNoteTextBox")
                            .Height(90)
                            )
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div>
                    @(Html.DevExtreme().Button()
                        .ID("rejectFormBtn")
                        .Text("Reject")
                        .Type(ButtonType.Danger)
                        .StylingMode(ButtonStylingMode.Contained)
                        )
                    @(Html.DevExtreme().Button()
                        .Text("Cancel")
                        .Type(ButtonType.Normal)
                        .StylingMode(ButtonStylingMode.Contained)
                        .OnClick(@<text> function(){ $('#rejectionNoteModal').modal('hide'); } </text>)
                        )
                </div>
            </div>
        </div>
    </div>
</div>