@model xDC_Web.ViewModels.ISSDLandingPageViewModel

@{
    ViewBag.Title = "ISSD - Trade Settlement";
}

<section class="content-header content-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
                @if (Model.IsAllowedToCreateForm)
                {
                    <div id="newFormBtn"></div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">

            </div>
        </div>
    </div>
</section>


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="submissionBox" class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Form Submission</h3>
                    <div class="box-tools pull-right">
                        <div style="display: inline-block">
                            <div id="filterStatusSb"></div>
                        </div>
                        <div style="display: inline-block">
                            <div id="filterformBtn"></div>
                        </div>
                        <div style="display: inline-block">
                            <div id="clearFilterBtn"></div>
                        </div>

                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="dx-icon-chevrondown"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="issdGrid" class="grid-container"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="approvedBox" class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Approved Submission (Consolidated)</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="dx-icon-chevrondown"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="consolidatedTradeSettlementGrid" class="grid-container"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="loadpanel"></div>

@section scripts
{
    <script src="~/Scripts/app/issd/tradeSettlement/index.js"></script>
}
