
@{
    ViewBag.Title = "Deal Cut Off";
    ViewBag.Subtitle = "MYR";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="left-container" style="display: inline-block">
                        <div style="display: inline-block;font-weight: bold">Trade Date : </div> <div style="display: inline-block" id="dateSelectionBtn"></div>
                    </div>
                    <div class="right-container">
                        <div id="printBtn"></div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="tabpanel-container">     
                        <div data-options="dxTemplate : { name: 'bondTab' }" style="padding-top: 10px; overflow: auto">
                            <div style="width: 100%">
                                <iframe id="sheet1" style="width: 100%; height: 1200px; border-style: none;"> </iframe>
                            </div>
                        </div>
                        <div data-options="dxTemplate : { name: 'cpTab' }" style="padding-top: 10px; overflow: auto">
                            <div style="width: 100%">
                                <iframe id="sheet2" style="width: 100%; height: 1200px; border-style: none;"> </iframe>
                            </div>
                        </div>
                        <div data-options="dxTemplate : { name: 'notesPaperTab' }" style="padding-top: 10px; overflow: auto">
                            <div style="width: 100%">
                                <iframe id="sheet3" style="width: 100%; height: 1200px; border-style: none;"> </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section scripts
{
    <script src="~/Scripts/app/fid/dealCutOff/myr.js"></script>
}