.markDate {
    color: #2ecc71;
    font-weight: bold;
}

body {
    background-color: #ebeef2 !important;
}

.content-header {
    color: #2c3e50;
}

.content-header.content-banner {
    background-color: #f6f7f9;
    padding-bottom: 15px
}

.content-header > .title {
    margin: 0;
    font-weight: bolder;
    font-size: 24px;
    text-transform: uppercase;
}

.content-header > .subtitle {
    margin: 0;
    color: #6c757d;
    font-weight: bold;
    font-size: 14px;
}


.content-header.content-alert {
    margin: 0;
}


.field-validation-error.help-block {
    color: #e74c3c !important;
    font-style: italic;
    font-size: small;
    font-weight: bold;
}


.content-header.content-toolbar {
    margin: 0;
    background-color: #ECF0F5;
}

.content-header.content-toolbar .left-container > * {
    float: left;
    display: inline-block;
    margin-right: 5px;
}

.content-header.content-toolbar .right-container {
    float: right;
    display: inline-block;
}

.active-directory-dropdown {
    margin-bottom: 5px;
}
.active-directory-dropdown > p {
    margin: 0;
}

.active-directory-title {
    font-weight: bold;
    font-size: 12px;
}

.active-directory-subtitle {
    font-style: italic;
    font-size: 11px;
}

.grid-container {
    margin-bottom: 10px;
}

.grid-container-tabview {
    margin-top: 20px;
}


/* replace long text with elipsis*/
a.hide-long-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-item-datetime {
    font-size: 11px;
}

.notification-item-title {
    font-weight: bold;
    font-size: 15px;
}

.notification-item-description {
    font-size: 13px;
    color: #1d282c;
}

.notification-item-description > a {
    color: #1d282c;
    font-weight: bold;
    text-decoration: underline dotted #e74c3c;
}

.notification-item-dismiss {
    height: 50px;
}

.notification-item-dismiss > a {
    color: #e74c3c;
    display: inline-block;
}


/* dxDataGrid Header */
.dx-datagrid-headers {
    background-color: #5b8efb;
}

.dx-datagrid-headers .dx-command-edit {
    background-color: #5b8efb;
}

.dx-header-row {
    color: white;
}

.dx-header-filter {
    color: white !important;
}

.dx-header-filter-empty {
    color: #BDC3C7 !important;
}

.dx-datagrid-command-btn:hover {
    color: #2c3e50 !important;
    font-weight: bold;
}

/*.dx-texteditor-input:read-only {
    background-color: #e5f1ff;
    cursor: not-allowed;
}*/

/*#region Stepper CSS*/

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.active .step-counter {
    background-color: white;
    font-weight: bold;
    border: 2px solid #5B8EFB;
}

.approved {
    background: #2ECC71 !important;
    color: white !important;
    border: none !important;
}

.stepper-item.completed .step-counter {
    background-color: #5B8EFB;
    color: white;
    border: 2px solid #5B8EFB;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #5B8EFB;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
}

.stepper-item.rejected .step-counter {
    background-color: #F44336;
    color: #fff;
}

.stepper-item:first-child::before {
    content: none;
}

.stepper-item:last-child::after {
    content: none;
}

/*#endregion*/

/*#region Bootstrap overwrite*/

.alert {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #323130 !important;
    border: none;
}

.alert i {
    margin-right: 8px;
}

.alert-warning {
    background-color: #fff4ce !important;
}

.alert-warning i {
    color: rgb(121, 119, 117) !important;
}

.alert-danger {
    background-color: #fde7e9 !important;
}

.alert-danger i {
    color: rgb(168, 0, 0) !important;
}

.alert-danger .alert-title {
    color: rgb(168, 0, 0) !important;
    font-weight: bold;
}

.alert-success {
    background-color: #dff6dd !important;
}

.alert-success i {
    color: rgb(16, 124, 16) !important;
}

.alert-info {
    background-color: #D9EDF7 !important;
}

.alert-info i {
    color: rgb(121, 119, 117) !important;
}


div .validation-summary-errors.text-danger {
    border: 1px solid #E74856;
    background-color: #FCE4EC;
    margin-bottom: 10px;
    padding: 10px 0;
}

/*#endregion*/

/*#region AdminLTE overwrite*/

.box-header {
    background-color: #f6f7f9;
}

.box-header>div {
    display: inline-block;
}

.info-box-custom {
    display: block;
    min-height: 90px;
    background: none !important;
    width: 100%;
    box-shadow: none !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.info-box-custom-title {
    font-size: medium;
    color: #1d282c;
    font-weight: bold;
    display: block;
}

.info-box-custom-minitext {
    font-size: smaller;
    color: #bdc3c7;
}

.info-box-custom-text {
    font-size: small;
    color: #2c3e50;
    display: block;
}



.dropdown.notifications-menu > .dropdown-menu > .footer {
    width: 100%;
    height: 30px;
    background: rgb(41, 58, 74);
}

.dropdown.notifications-menu > .dropdown-menu > .footer > .footer-item {
    width: 50%;
    display: inline-block;
    text-align: center;
    height: inherit;
    line-height: 30px;
}

.dropdown.notifications-menu > .dropdown-menu > .footer > .footer-item:hover {
    background-color: rgb(30, 40, 44);
    cursor: pointer;
}

.dropdown.notifications-menu > .dropdown-menu > .footer > .footer-item > a {
    color: #fff;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header {
    background-color: #5B8EFB !important;
    color: white !important;
    font-weight: bold;
    font-size: medium;
    border-radius: 0;
}

.dropdown-header {
    color: white;
    background-color: #5B8EFB;
}

.dropdown-header > p.dropdown-header-title {
    font-size: medium;
    margin-bottom: 2px;
    font-weight: bold;
}

.dropdown-header > p.dropdown-header-subtitle {
    margin-bottom: 2px;
}

.dropdown-menu > li.dropdown-item > a {
    color: #777777;
}

/*#endregion*/