@model xDC_Web.ViewModels.AmsdLandingPageVM

@{
    ViewBag.Title = "AMSD";
    ViewBag.Subtitle = "Inflow Fund";
}

<section class="content-header content-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
                <div>
                    @(Html.DevExtreme().Button()
                        .Type(ButtonType.Normal)
                        .Icon("plus")
                        .Text("New")
                        .ID("newInflowFundBtn")
                        .StylingMode(ButtonStylingMode.Contained)
                        .OnClick(@<text> function(){ window.location = "@Url.Action("InflowFund_New", "Amsd")"; } </text>)
                        )
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">
                
            </div>
        </div>
    </div>
</section>


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="pull-right">
                        <div style="display: inline-block">
                            <div id="gridFilterDropdown"></div>
                        </div>

                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="dx-icon-chevrondown"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="amsdGrid" class="grid-container"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<div id="loadpanel"></div>


<div id="retractSubmissionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="retractSubmissionModalContainer">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Confirm retract submission ?</h4>
            </div>

            <div class="modal-content">
                <div style="padding:10px">By retract form submission, the form will be turn into Draft status which you will have the ability to edit it and resubmit for approval.</div>
                <div style="padding:10px">
                    <table class="table table-hover table-condensed">
                        <tbody>
                            <tr>
                                <th scope="row">Form ID:</th>
                                <td><span id="retractFormId"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Prepared By:</th>
                                <td><span id="retractFormPreparedBy"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Submission Date:</th>
                                <td><span id="retractFormSubmissionDate"></span></td>
                            </tr>
                            <tr>
                                <th scope="row">Assigned Approver:</th>
                                <td><span id="retractFormAssignedApprover"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <div class="pull-left">
                    @(Html.DevExtreme().Button()
                        .ID("retractFormBtn")
                        .Text("Proceed")
                        .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                        )
                </div>
                <div class="pull-right">
                    @(Html.DevExtreme().Button()
                        .ID("retractFormCancelBtn")
                        .Text("Cancel")
                        .Type(ButtonType.Normal)
                        .StylingMode(ButtonStylingMode.Contained)
                        )
                </div>
                
                
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/app/amsd/index.js"></script>
}