

@model xDC_Web.ViewModels.Fid.DealCutOff.SpreadsheetPreviewModel

@using System.Web.UI.WebControls
@using DevExpress.Spreadsheet
@using DevExpress.Web
@using DevExpress.Web.Mvc.UI

@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }
    )
@Html.DevExpress().GetScripts( 
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }
    )

@Html.DevExpress().PageControl(
    settings =>
    {
        settings.Name = "spreadsheetPreviewPage";
        settings.ActiveTabIndex = 0;
        settings.Width = Unit.Percentage(100);
        settings.Styles.Content.Paddings.Assign(new Paddings(Unit.Pixel(1)));
        settings.Theme = "Office365";
        for (int i = 0; i < Model.Workbook.Worksheets.Count; i++)
        {
            Worksheet sheet = Model.Workbook.Worksheets[i];
            string pageName = String.Format("previewFrame{0}", i);
            string previewPath = String.Format("{0}?{1}.PreviewSheetIndex={2}", Model.PreviewDocumentAction, Model.OwnerPropertyName, i);
            settings.TabPages.Add(sheet.Name, pageName).SetContent(
                () =>
                {
                          ViewContext.Writer.Write(String.Format(@"<div style='background-color:white;'><iframe id=""{0}"" style='width: 100%; height: {2}px; border-style:none;' src=""{1}""> </iframe></div>", pageName, previewPath, Model.HeightInPixels));
                }
                );
        }
    }
    ).GetHtml()