
@{
    ViewBag.Title = "";
    var errorMessage = TempData["ErrorMessage"] != null ? TempData["ErrorMessage"].ToString() : string.Empty;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            
            <img src="~/Content/images/error colored.svg" class="img-responsive" style="margin: 0 auto; width: 500px" />
            <div class="text-center" style="width: 100%; color: #2c3e50">
                <h2>Invalid Operation Performed</h2>
                @if (errorMessage != string.Empty)
                {
                    <p class="text-center text-red">
                        @errorMessage
                    </p>
                }
            </div>
            

        </div>
    </div>
</section>


