@{
    ViewBag.Title = "System Information";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="grid1" class="grid-container"></div>

        </div>
    </div>
</section>

@section scripts
{
    
}
