@model xDC_Web.ViewModels.AmsdLandingPageVM

@{
    ViewBag.Title = "Audit";
    ViewBag.Subtitle = "Forms Audit Trail";
}

<section class="content-header content-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
                <div id="dp-fromDate"></div>
                <div id="dp-toDate"></div>
                <div id="tb-formId"></div>
                <div id="dd-formType"></div>
                <div id="dd-userId"></div>
                <div id="dd-actionType"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">
                <div id="searchBtn" style="display: inline-block"></div>
                <div id="printBtn" style="display: inline-block"></div>
            </div>
        </div>
    </div>
</section>


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="pull-right">
                        <div style="display: inline-block">
                            
                        </div>

                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="dx-icon-chevrondown"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="dg-auditForm" class="grid-container"></div>
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Scripts/app/audit/form.js"></script>
}