@model xDC_Web.ViewModels.Admin.UserManagementVM

@{
    ViewBag.Title = "User Management";
}


<section class="content container-fluid">

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="box box-solid">
                <div class="box-header box-header-v1">
                    <h3 class="box-title">Users by Department</h3>
                </div>
                <div class="box-body" style="margin-left: 0">
                    @(Html.DevExtreme().PieChart()
                        .ID("pieUsersByDepartment")
                        .Palette(VizPalette.Bright)
                        .Size(s => s.Width(500))
                        .Series(s => s
                            .Add()
                            .ArgumentField("Key")
                            .ValueField("Value")
                            .Label(l => l
                                .Visible(true)
                                .Connector(c => c
                                    .Visible(true)
                                    .Width(1)
                                )
                            )
                        )
                        .DataSource(Model.TotalDepartmentBreakdown)
                    )
                </div>

            </div>

        </div>


        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="box box-solid">
                <div class="box-header box-header-v1">
                    <h3 class="box-title">Users by Group</h3>
                </div>
                <div class="box-body" style="margin-left: 0">
                    @(Html.DevExtreme().PieChart()
                        .ID("pieUsersByPermission")
                        .Size(s => s.Width(500))
                        .Palette(VizPalette.Bright)
                        .Series(s => s
                            .Add()
                            .ArgumentField("Key")
                            .ValueField("Value")
                            .Label(l => l
                                .Visible(true)
                                .Connector(c => c
                                    .Visible(true)
                                    .Width(1)
                                )
                            )
                        )
                        .DataSource(Model.TotalUserGroupBreakdown)
                    )
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div id="grid1" class="grid-container"></div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/bundles/admin/userMgmt");
}