
@{
    ViewBag.Title = "Deal Cut Off";
    ViewBag.Subtitle = "FCY";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="left-container" style="display: inline-block">
                        <div style="display: inline-block" id="dateSelectionBtn"></div>
                        <div style="display: inline-block" id="viewTypeDropdown"></div>
                    </div>
                    <div class="right-container pull-right">

                        <div style="display: inline-block" id="formRemarksBtn"></div>
                        <div style="display: inline-block" id="printBtn"></div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="tabpanel-container">
                        <div data-options="dxTemplate : { name: 'summaryTab' }" style="padding-top: 10px; overflow: auto">
                            <div style="width: 100%">
                                <iframe id="sheet1" style="width: 100%; height: 1200px; border-style: none;"> </iframe>
                            </div>
                        </div>
                        <div data-options="dxTemplate : { name: 'details1' }" style="padding-top: 10px; overflow: auto">
                            <div style="width: 100%">
                                <iframe id="sheet2" style="width: 100%; height: 1200px; border-style: none;"> </iframe>
                            </div>
                        </div>
                        <div data-options="dxTemplate : { name: 'details2' }" style="padding-top: 10px; overflow: auto">
                            <div style="width: 100%">
                                <iframe id="sheet3" style="width: 100%; height: 1200px; border-style: none;"> </iframe>
                            </div>
                        </div>
                        <div data-options="dxTemplate : { name: 'details3' }" style="padding-top: 10px; overflow: auto">
                            <div style="width: 100%">
                                <iframe id="sheet4" style="width: 100%; height: 1200px; border-style: none;"> </iframe>
                            </div>
                        </div>
                        <div data-options="dxTemplate : { name: 'details4' }" style="padding-top: 10px; overflow: auto">
                            <div style="width: 100%">
                                <iframe id="sheet5" style="width: 100%; height: 1200px; border-style: none;"> </iframe>
                            </div>
                        </div>
                        <div data-options="dxTemplate : { name: 'details5' }" style="padding-top: 10px; overflow: auto">
                            <div style="width: 100%">
                                <iframe id="sheet6" style="width: 100%; height: 1200px; border-style: none;"> </iframe>
                            </div>
                        </div>
                        <div data-options="dxTemplate : { name: 'formAudit' }" style="padding-top: 10px; overflow: auto">
                            <div style="width: 100%">
                                <iframe id="sheet7" style="width: 100%; height: 1200px; border-style: none;"> </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_FormsRemarksModal")


@section scripts
{
    @Scripts.Render("~/bundles/report/DealCutOff/FCY");
}