<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="data source=ITBSS-DEV;initial catalog=KashflowDb;User Id=sa;Password=p@ssw0rd;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="kashflowDBEntities"
         connectionString="metadata=res://*/Application.kashflowDb.csdl|res://*/Application.kashflowDb.ssdl|res://*/Application.kashflowDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ITBSS-DEV;initial catalog=KashflowDb;User Id=sa;Password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="TempFolder.Path" value="D://KashflowTemp/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Logger.FilePathFormat" value="D://logs/kashflow/log-.txt"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Smtp.ServerIp" value="172.16.1.92"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Smtp.SenderAccount" value="rps.email@kwap.gov.my"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Smtp.SenderAccountName" value="Kashflow Notification UAT"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Email.ApplicationUrl" value="https://kashflow-uat.kwap.my"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Environment.IsLive" value="false"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>