<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="data source=BSSOPS;initial catalog=KashflowDb;User Id=KashflowApp;Password=Kash@123!;" 
         providerName="System.Data.SqlClient"  
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="kashflowDBEntities" 
         connectionString="metadata=res://*/Application.kashflowDb.csdl|res://*/Application.kashflowDb.ssdl|res://*/Application.kashflowDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BSSOPS;initial catalog=KashflowDb;User Id=KashflowApp;Password=Kash@123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

  </connectionStrings>

  <appSettings>
    <add key="TempFolder.Path" value="D://KashflowTemp/" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Logger.FilePathFormat" value="D://logs/kashflow/" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Smtp.ServerIp" value="172.16.1.92" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Smtp.SenderAccount" value="rps.email@kwap.gov.my" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Smtp.SenderAccountName" value="Kashflow Notification" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Email.ApplicationUrl" value="https://kashflow.kwap.my" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Environment.IsLive" value="true"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Notification.TS.PeEmail" value="altid.pe@kwap.gov.my"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Notification.TS.PeEmail.CC" value="settlement_ops@kwap.gov.my"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Notification.TS.PropertyEmail" value="property@kwap.gov.my"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Notification.TS.PropertyEmail.CC" value="investmentsupport@kwap.gov.my"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>

  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>