@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "No Permission";
}

<section class="content container-fluid">

<div class="row">
        <div class="col-md-12">
            Sorry. You dont have permission to perform the action.
        </div>
    </div>
</section>
