@model dynamic

@{
    ViewBag.Title = "10am Cut Off";
    ViewBag.Subtitle = "Summary";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="left-container" style="display: inline-block">
                        <div style="display: inline-block; font-weight: bold">Date : </div>
                        <div style="display: inline-block" id="dateSelectionBtn"></div>
                        <div style="display: inline-block" id="viewTypeDropdown"></div>
                        <div id="refreshBtn" style="display: inline-block"></div>
                    </div>
                    <div class="right-container pull-right">
                        <div id="printBtn"></div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</section>



@section scripts
{
    <script src="~/Scripts/app/tenAmDealCutOff/index.js"></script>
}
