@model dynamic

@{
    ViewBag.Title = "10am Cut Off";
    ViewBag.Subtitle = "Summary";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="left-container" style="display: inline-block">
                        <div style="display: inline-block; font-weight: bold">Date : </div>
                        <div style="display: inline-block" id="dateSelectionBtn"></div>
                        <div style="display: inline-block" id="viewTypeDropdown"></div>
                        <div id="refreshBtn" style="display: inline-block"></div>
                    </div>
                    <div class="right-container pull-right">
                        <div id="closingBalanceAuditBtn"></div>
                        <div id="printBtn"></div>
                    </div>
                </div>
                <div class="box-body">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="viewClosingBalanceAuditModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Closing Balance Change History:</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="closingBalanceAuditGrid"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div>
                    @(Html.DevExtreme().Button()
                        .Text("Close")
                        .Type(ButtonType.Normal)
                        .StylingMode(ButtonStylingMode.Contained)
                        .OnClick(@<text> function(){ $('#viewClosingBalanceAuditModal').modal('hide'); } </text>)
                        )
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    <script src="~/Scripts/app/tenAmDealCutOff/index.js"></script>
}
